<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h2>Room allocation has been successfully updated!</h2>
<h3>Responsible Employee</h3>
<ul>
  <li><b>Name:</b> <span th:text="${allocation.employee.name}"></span></li>
  <li><b>Email:</b> <span th:text="${allocation.employee.email}"></span></li>
</ul>
<h3>Allocation Details</h3>
<ul>
  <li><b>Room:</b> <span th:text="${allocation.room.name}"></span></li>
  <li><b>Available Seats:</b> <span th:text="${allocation.room.seats}"></span></li>
  <li><b>Subject:</b> <span th:text="${allocation.subject}"></span></li>
  <li><b>Start Date:</b> <span th:text="${#temporals.format(allocation.startAt, 'dd-MM-yyyy HH:mm')}"></span></li>
  <li><b>End Date:</b> <span th:text="${#temporals.format(allocation.endAt, 'dd-MM-yyyy HH:mm')}"></span></li>
</ul>
</body>
</html>